<div class="container">
  <% provide(:title, "About") %> <!-- Call the 'provide' function and associate the string "Home" with the label ':title' -->
  <h1>About!</h1>
  <p class="text-center">
    This website is
    <a href="https://www.linkedin.com/in/amendelow/">Ari Mendelow's</a>
    Resource Management application.

    Feel free to reach me at
    <a href = "mailto: ari@mendelow.me">ari@mendelow.me</a>
    with any questions or comments.
  </p>
</div>
