<h1>Editing Resource</h1>
<% @resource[:skills] = @resource[:skills].join(', ') %>
<% provide(:submit_url, edit_resource_path(@resource)) %>
<% provide(:button_text, "Edit #{@resource.name}") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 center">
    <%= render 'form', resource: @resource %>
    <%= link_to 'Show Resource', @resource %> |
    <%= link_to 'Back to List', resources_path %>
  </div>
</div>
