<h1>New Resource</h1>

<% provide(:submit_url, resources_new_path) %>
<% provide(:button_text, "Add a new resource!") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form', resource: @resource %>
    <%= link_to 'Back to List', resources_path %>
  </div>
</div>
